body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.for-filters {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em auto;
  width: auto;
}
.for-filters li {
  border: 2px solid #2979ff;
  border-right: none;
  overflow: hidden;
  position: relative;
}
.for-filters li a {
  display: block;
  
  font-weight: bold;
  text-align: center;
  color: #2979ff;
  position: relative;
  padding: 1em;
  text-decoration: none;
  transition: 0.2s;
  z-index: 2;
}
.for-filters li:first-child {
  border-radius: 10px 0 0 10px;
}
.for-filters li:last-child {
  border-radius: 0px 10px 10px 0px;
  border-right: 2px solid #2979ff;
}
.for-filters li:after {
  background: #e0f0fd;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transition: 0.3s;
  z-index: -1;
}
.for-filters li.is-active:after {
  background: #2979ff;
  height: 100%;
}
.for-filters li.is-active a {
  color: #ffffff;
}
.for-filters li:hover:after {
  height: 100%;
  transition: 0.3s;
  z-index: -1;
}
.for-filters li:hover a {
  transition: 0.2s;
}

.container.for-content {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 800px;
}
.container.for-content .prog-container {
  background: #ffffff;
  border-radius: 1em;
  box-shadow: 0px 5px 10px -5px #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
  text-decoration: none;
  width: 20em;
  transition: 0.2s;
}
.container.for-content .prog-container .icon {
  text-align: center;
  padding: 1em 5%;
  width: 90%;
}
.container.for-content .prog-container .icon i {
  background: #ffffff;
  box-shadow: 5px 0px #C80096;
  font-size: 3em;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  line-height: 3em;
  /*   animation: pulse-shadow 2s infinite; */
  color: #0057B8;
  text-align: center;
  transform: scale(0.8);
  transition: 0.2s;
}
.container.for-content .prog-container .details {
  color: #2979ff;
  text-align: center;
  width: 85%;
}
.container.for-content .prog-container .details h1 {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.container.for-content .prog-container .details p {
  color: #a7a7a7;
  margin: 2em 0;
  transition: 0.2s;
}
.container.for-content .prog-container .button {
  
  border-radius: 2em;
  box-shadow: 0px 3px #666;
  
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0.8em 2em;
  margin: 1em 0 2em;
  transition: 0.2s;
}
.container.for-content .prog-container .button:hover {
  transform: translate(0px, -3px);
  box-shadow: 0px 9px #666;
  transition: 0.2s;
}
.container.for-content .prog-container .button:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 0px #666;
  transition: 0.1s;
}
.container.for-content .prog-container:hover {
  box-shadow: 0px 7px 14px -7px #a7a7a7;
  transition: 0.2s;
}
.container.for-content .prog-container:hover i {
  transform: translate(-20px, 0px);
  box-shadow: 40px 0 #c80096;
  transition: 0.2s;
}
.container.for-content .prog-container:hover .details p {
  transition: 0.2s;
}

/* Estilo de botones flotantes */
.btn-flotante {
	font-size: 20px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color:#007bff; /* Color de fondo */
	padding: 10px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 590px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #c80096; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 16px;
		padding: 12px 20px;
		bottom: 600px;
		right: 10px;
	}
} 
.btn-flotante2 {
	font-size: 20px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color:#007bff; /* Color de fondo */
	padding: 10px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 510px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante2:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante2 {
		font-size: 16px;
		padding: 12px 20px;
		bottom: 540px;
		right: 10px;
	}
} 
.btn-flotante3 {
	font-size: 20px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color:#007bff; /* Color de fondo */
	padding: 10px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 430px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante3:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante3 {
		font-size: 16px;
		padding: 12px 20px;
		bottom: 440px;
		right: 10px;
	}
} 
/* Finaliza estilo botones */